.Pokemon {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
}

.PokemonImage {
  height: 150px;
}

.InfoStatsContainer {
  display: flex;
  flex-direction: column;
}

.TypesContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.TypesContainer > span {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.Types {
  display: flex;
  justify-content: space-evenly;
}

.Types > .Type:not(:last-child) {
  margin-right: 1rem;
}

.Types {
  display: flex;
  justify-content: space-evenly;
}

.Type {
  display: inline-block;
  width: 60px;
  height: 14px;
  padding: 1px 0;
  background-color: #cbc9cb;
  background: linear-gradient(#cbc9cb, #aaa6aa);
  border: 1px solid #a99890;
  border-radius: 3px;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px #333333;
  text-transform: uppercase;
}

.Type.bug {
  background-color: #a8b820;
  background: linear-gradient(#a8b820, #8d9a1b);
  border-color: #616b13;
}

.Type.poison {
  background-color: #a040a0;
  background: linear-gradient(#a040a0, #803380);
  border-color: #662966;
}

.Type.fire {
  background-color: #f08030;
  background: linear-gradient(#f08030, #dd6610);
  border-color: #b4530d;
}

.Type.flying {
  background-color: #a890f0;
  background: linear-gradient(#a890f0, #9180c4);
  border-color: #7762b6;
}

.Type.water {
  background-color: #6890f0;
  background: linear-gradient(#6890f0, #386ceb);
  border-color: #1753e3;
}

.Type.electric {
  background-color: #f8d030;
  background: linear-gradient(#f8d030, #f0c108);
  border-color: #c19b07;
}

.Type.ice {
  background-color: #98d8d8;
  background: linear-gradient(#98d8d8, #69c6c6);
  border-color: #45b6b6;
}

.Type.fighting {
  background-color: #c03028;
  background: linear-gradient(#c03028, #9d2721);
  border-color: #82211b;
}

.Type.steel {
  background-color: #b8b8d0;
  background: linear-gradient(#b8b8d0, #9797ba);
  border-color: #7a7aa7;
}

.Type.grass {
  background-color: #78c850;
  background: linear-gradient(#78c850, #5ca935);
  border-color: #4a892b;
}

.Type.fairy {
  background-color: #f830d0;
  background: linear-gradient(#f830d0, #f008c1);
  border-color: #c1079b;
}

.Type.dark {
  background-color: #705848;
  background: linear-gradient(#705848, #513f34);
  border-color: #362a23;
}

.Type.psychic {
  background-color: #f85888;
  background: linear-gradient(#f85888, #f61c5d);
  border-color: #d60945;
}

.Type.ground {
  background-color: #e0c068;
  background: linear-gradient(#e0c068, #d4a82f);
  border-color: #aa8623;
}

.Type.rock {
  background-color: #b8a038;
  background: linear-gradient(#b8a038, #93802d);
  border-color: #746523;
}

.Type.normal {
  background-color: #8a8a59;
  background: linear-gradient(#a8a878, #8a8a59);
  border-color: #79794e;
}

.Type.ghost {
  background-color: #705898;
  background: linear-gradient(#705898, #554374);
  border-color: #413359;
}

.Type.dragon {
  background-color: #7038f8;
  background: linear-gradient(#7038f8, #4c08ef);
  border-color: #3d07c0;
}

.Abilities {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.Abilities > span {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.Ability {
  color: #3a4a66;
  margin-right: 1rem;
  font-size: 1rem;
}
